---
const {bg, text} = Astro.props;
const className = "rounded-full w-28 h-28 inline-block absolute z-10 right-0 top-0 bg-[url('/assets/badge/coming-soon.png')] bg-no-repeat bg-center " + bg;
---
<div class={className}></div>
