---
import Section from "./Section.astro";
import Spacer from "./Spacer.astro";
---
<Section>
    <Fragment slot="title">Współprace</Fragment>
    <Fragment slot="desc">ASP Katowice, Uniwersytet Pedagogiczny w Krakowie, AGH, UX&PD, SWPS, WSE, FRS, Biennale Warszawa, Medialab Katowice, Studio Widok, Forte Digital, Spółdzielnia Ogniwo, ITBM, Klimatyczna Baza Wiedzy, Unsound, Wspólnota Hanna</Fragment>
</Section>
<Spacer/>