---
import Section from "./Section.astro";
import Spacer from "./Spacer.astro";
---
<Section>
    <Fragment slot="title">Edukacja</Fragment>
    <Fragment slot="desc">Akademia Sztuk Pięknych w Katowicach, Uniwersytet Pedagogiczny w Krakowie, Akademia Górniczo-Hutnicza Wydział Humanistyczny w Krakowie, UX & Product Design SWPS (Katowice, Sopot, Warszawa), Wyższa Szkoła im. ks. Józefa Tischnera w Krakowie</Fragment>
</Section>
<Spacer/>