---
import Container from "@components/Container.astro";
import MailLink from "@components/MailLink.astro"
import Link from "@components/Link.astro";

const language = Astro.currentLocale;

let addressFirstLine;
let addressSecondLine;
let addressExtra;

switch (language) {
    case 'pl':
        addressFirstLine = 'Mikołaja Kopernika 19A';
        addressSecondLine = '31-531 Kraków';
        addressExtra = '(budynek Apteki Designu)';
        break;
    case 'en':
        addressFirstLine = 'Mikołaja Kopernika 19A';
        addressSecondLine = '31-531 Kraków, Poland';
        addressExtra = '(Design Pharmacy building)';
        break;
}
---
<footer class="mt-10 py-10 bg-black text-white">
    <Container>
        <div class="my-8 flex flex-col sm:flex-row w-full sm:justify-between">
            <div>
                <a href="/">
                    <img src="/assets/logo-white.svg" alt="Grupa Robocza"/>
                </a>
                <p class="text-xl mt-8">
                    <MailLink email="grupa@robocza.org" className="underline hover:text-black hover:bg-white"/>
                </p>
                <p class="text-xl mt-8">
                    {addressFirstLine}<br>
                    {addressSecondLine}<br>
                    {addressExtra}
                </p>
                <p class="text-sm mt-8">
                    KRS: 0000512875<br>
                    REGON: 123138312<br>
                    NIP: 6793101293
                </p>
            </div>
            <div class="sm:text-right sm:place-self-end">
                <p class="text-xl mt-4"><Link url="https://pl.linkedin.com/company/grupa-robocza" text="LinkedIn" className="underline hover:text-black hover:bg-white"/></p>
                <p class="text-xl mt-4"><Link url="https://www.instagram.com/grupa.robocza/" text="Instagram" className="underline hover:text-black hover:bg-white"/></p>
                <p class="text-xl mt-4">Worldwide 🌏 {new Date().getFullYear()}</p>
            </div>
        </div>
    </Container>
</footer>
