---
import Container from "@components/Container.astro";
---
<footer class="mt-10 py-10 bg-black text-white">
    <Container>
        <div class="my-8 flex w-full justify-between">
            <div>
                <img src="/assets/logo-white.png" alt="Grupa Robocza"/>
                <p class="text-xl mt-8">
                    <a href="javascript:location='mailto:\u0067\u0072\u0075\u0070\u0061\u0040\u0072\u006f\u0062\u006f\u0063\u007a\u0061\u002e\u006f\u0072\u0067';void 0">
                        <script type="text/javascript">document.write('\u0067\u0072\u0075\u0070\u0061\u0040\u0072\u006f\u0062\u006f\u0063\u007a\u0061\u002e\u006f\u0072\u0067')</script>
                    </a>
                </p>
            </div>
            <div class="text-right">
                <p class="text-xl mt-8"><a href="https://pl.linkedin.com/company/grupa-robocza">LinkedIn</a></p>
                <p class="text-xl mt-8"><a href="https://www.instagram.com/grupa.robocza/">Mastodon</a></p>
                <p class="text-xl mt-8"><a href="https://cave.mvu.pl">Instagram</a></p>
                <p class="text-xl mt-8">Worldwide 🌏 {new Date().getFullYear()}</p>
            </div>
        </div>
    </Container>
</footer>
