---
import Section from "./Section.astro";
import Spacer from "./Spacer.astro";
---
<div id="foundation">
    <Section>
        <Fragment slot="title">Fundacja</Fragment>
        <Fragment slot="desc">Naszym celem jest upowszechnianie metod i edukacja w zakresie myślenia projektowego i pracy kreatywnej oraz tworzenie przestrzeni dla współpracy różnych środowisk: biznesowych, naukowych i artystycznych.</Fragment>
    </Section>
    <div class="flex justify-between mt-6">
        <div>
            <img class="max-h-5 inline-block align-middle" src="/assets/icons/pdf.png" alt="pdf"><a class="inline-block align-middle underline" href="/files/Grupa_Robocza_statut_2022.pdf">Statut Fundacji (7,87 MB)</a>
        </div>
    </div>
    <Spacer/>
</div>
