---
import Container from "./Container.astro";
import Divider from "@components/Divider.astro";
---
<header>
    <Container>
        <div class="mt-12 mb-10 flex w-full justify-between">
            <a href="/">
                <img src="/assets/logo.svg" alt="Grupa Robocza"/>
            </a>
        </div>
        <Divider/>
    </Container>
</header>
