---
import Section from "./Section.astro";
import Spacer from "./Spacer.astro";
---
<Section>
    <Fragment slot="title">Wystąpienia i prezentacje</Fragment>
    <Fragment slot="desc">UX Poland, WUD Kraków, WUD Trójmiasto, WUD Silesia, Gdynia Design Days, ACE Conference, Ciemna Strona UX, Forum Przyszłości, Biennale Warszawa, UXUp!, The Future of Work in the Postdigital Age, Technologiczno-społeczne Oblicza XXI wieku</Fragment>
</Section>
<Spacer/>